{% extends "base.html" %}
{% block title %}Política de Segurança - CNC Imports{% endblock %}
{% block content %}
<div class="container" style="padding: 40px 20px; max-width: 800px;">
    <h1 style="color: #e67e22; margin-bottom: 30px;">Política de privacidade e cookies</h1>
    <div style="line-height: 1.8; text-align: justify;">
        <p>Esta Política de privacidade e cookies descreve como coletamos, usamos e compartilhamos suas informações pessoais quando você visita nosso site. Ao visitar e usar este site, você concorda com os termos desta política.</p>
        
        <h2>Informações coletadas</h2>
        <p>Coletamos informações pessoais que você nos fornece voluntariamente, como nome, endereço de e-mail e outras informações de contato, quando você se inscreve para receber nossas atualizações ou se comunica conosco. Também podemos coletar informações de uso do site, incluindo endereços IP, registros de servidor e informações de navegação.</p>
        
        <h2>Uso de informações</h2>
        <p>As informações que coletamos são usadas para melhorar o site, personalizar sua experiência e fornecer informações relevantes sobre nossos serviços. Também podemos usar suas informações para entrar em contato com você em relação a sua inscrição, para fornecer suporte ao cliente e para enviar informações sobre nossos serviços.</p>
        
        <h2>Compartilhamento de informações</h2>
        <p>Não compartilhamos suas informações pessoais com terceiros, exceto quando exigido por lei ou quando acreditarmos que a divulgação é necessária para proteger nossos direitos ou propriedade. Podemos compartilhar informações agregadas e anônimas sobre o uso do site com terceiros.</p>
        
        <h2>Cookies</h2>
        <p>Usamos cookies para coletar informações sobre como os usuários interagem com o site. Os cookies são pequenos arquivos de texto armazenados em seu dispositivo que nos permitem lembrar suas preferências e melhorar sua experiência de usuário. Você pode optar por desativar os cookies em seu navegador, mas isso pode afetar a funcionalidade do site.</p>
        
        <h2>Segurança</h2>
        <p>Tomamos medidas para proteger suas informações pessoais contra acesso não autorizado, alteração, divulgação ou destruição. No entanto, não podemos garantir a segurança completa das informações que você nos fornece.</p>
        
        <h2>Alterações na Política de privacidade e cookies</h2>
        <p>Podemos atualizar esta Política de privacidade e cookies de tempos em tempos. Notificaremos você sobre quaisquer alterações significativas nesta política publicando uma nova versão aqui.</p>
        
        <h2>Contato</h2>
        <p>Se você tiver alguma dúvida ou preocupação sobre nossa Política de privacidade e cookies, entre em contato conosco através do e-mail fornecido em nosso site.</p>
    </div>
</div>
{% endblock %}